<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Demo Application</title>
    </head>

    <body>
        <h1>Welcome to the Demo Application</h1>
        <p>This is a simple Thymeleaf template example.</p>

        <p th:text="'loginUser : ' + ${username}"></p>
        <p th:text="'userRole : ' + ${userRole}"></p>
        <footer>
            <p>&copy; 2025 Demo Application</p>
        </footer>
    </body>
</html>